
body{
    background-image: url(./imagenes/Maximiliano.jfif);
    background-repeat: no-repeat;
    background-size: cover;
}

legend{
    color: white;
    margin-left: -80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serifs;
}

.datosbox{
margin-top: -70px;
margin-left: -60px;

}


label{
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input{
    padding: 6px;
margin-top: 2px;
border-radius: 20px;
width: 300px;
}

form{
    display: flex;
    justify-content: center;
    padding-top: 5%;
    border-radius: 0px;
}

fieldset{
    padding: 80px;
    border-radius: 15px;
}

.fieldsetbox{
    display: flex;
    background-color: black;
    position: relative;
    animation: animacion 2s ease-in-out infinite alternate;
    border-radius: 15px;
    padding: 15px;
}

@keyframes animacion {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform:translateY(20px) ;
    }
}

button{
    margin-top: 20px;
    margin-left: 0px;
    border: none;
    cursor: pointer;
}

#enviar{
    background-color: rgb(14, 255, 6);
    color: black;
    border-radius: 5px;
    padding: 5px;
    margin-left: -60px;
}

#enviar:hover{
    background-color: green;
}

#borrar{
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 5px;
}

#borrar:hover{
    background-color: rgb(190, 24, 24);
}