
body{
    background-image: url(./imagenes/Maximiliano.jfif);
    background-repeat: no-repeat;
    background-size: cover;
}

legend{
    color: white;
    margin-left: -80px;
}

.datosbox{
margin-top: -70px;
margin-left: -60px;

}


label{
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    
}

input{
    padding: 6px;
margin-top: 2px;
border-radius: 8px;
width: 300px;
}

form{
    display: flex;
    justify-content: center;
    padding-top: 10%;
    border-radius: 15px;
}

fieldset{
    padding: 100px;
    border-radius: 15px;
}

.fieldsetbox{
    display: flex;
    background-color: black;
    position: relative;
    animation: animacion 2s ease-in-out infinite alternate;
}

@keyframes animacion {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform:translateY(20px) ;
    }
}

button{
    margin-top: 20px;
    margin-left: -70px;
    padding: 80px;
}

#enviar{
    background-color: rgb(14, 255, 6);
    color: black;
    border-radius: 5px;
    padding: 5px;
}

#enviar:hover{
    background-color: green;
}

#borrar{
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 5px;
}

#borrar:hover{
    background-color: rgb(190, 24, 24);
}